body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
main {
    padding: 20px;
}
header {
    background-color: #0066cc; /* Azul oscuro */
    color: white;
    padding: 10px;
}

.header-container {
    text-align: left;
}

.header-container .Campus {
    text-align: right; /* Para evitar que el texto dentro de .Campus se vea afectado */
}


.profile-icon img {

        width: 80px; /* Aumentar el ancho de la imagen */
        height: 80px; /* Aumentar la altura de la imagen */
        border-radius: 50%;
        margin-right: 10px;
        background-color: #cccccc; /* Gris claro */
    
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2; /* Gris muy claro */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;}
.card-container {
    display: flex;
}
.card p {
    font-size: 14px;
    color: #555;
}
.card {
    width: calc(25% - 20px);
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 10px;
            box-sizing: border-box;
}
.card h3 {
    margin: 0;
    font-size: 18px;
}
.card:last-child {
    margin-right: 0; /* Eliminar margen derecho para la última tarjeta */
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #0066cc; /* Azul oscuro */
    color: white;
    padding: 10px;
    text-align: center;
}

footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#filtro {
    text-align: left;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}


